/* Write your CSS here */
.cart-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #eaebed;
  margin-left: 600px;
  padding-bottom: 40px;
}

.cart-summary-heading {
  align-self: center;
  text-align: left;
  width: 50%;
  padding-left: 0px;
  font-family: 'Roboto';
  color: #616e7c;
  margin-bottom: 0px;
  font-size: 24px;
}

.checkout-button {
  margin-top: 20px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #0b69ff;
  border-radius: 5px;
}
